---
name: Build
on:
  push:
    tags:
      - "v*.*.*"
    branches:
      - master
      - renovate/**
    paths-ignore:
      - "**.md"
      - "test/**"
      - ".gitignore"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "test/**"
      - ".gitignore"

concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.4.0

      - name: Setup Python
        uses: actions/setup-python@v2.3.1
        with:
          python-version: "3.10"

      - name: Install Poetry
        uses: snok/install-poetry@v1.3.0
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load cached Poetry virtual env
        uses: actions/cache@v2.1.6
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install poetry dependencies
        run: poetry install

      - name: Lint Ansible sources
        run: poetry run ansible-lint

      - name: Install terraform
        uses: hashicorp/setup-terraform@v1.3.2
        with:
          terraform_version: 1.1.2

      - name: Lint terraform sources
        run: terraform fmt -recursive --check

      - name: Run tests in local
        working-directory: tests/
        run: poetry run ansible-playbook -i inventories/local test.yml

      - name: Re-run tests in local to check idempotency
        id: rerun_test
        working-directory: tests/
        env:
          ANSIBLE_NOCOLOR: "true"
        run: |
          poetry run ansible-playbook -i inventories/local test.yml |& tee output.txt
          echo "-------------------------------------"
          cat output.txt
          echo "-------------------------------------"
          ./scripts/check-idempotency.sh output.txt

      - name: Prepare secrets
        run: |
          echo "${{ secrets.DO_TOKEN }}" > tests/terraform/.do-token.txt
          mkdir -p ~/.ssh/
          echo "${{ secrets.DO_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: Create terraform resources for test
        working-directory: tests/terraform/
        run: terraform init && terraform apply -auto-approve

      - name: Run tests in VMs
        working-directory: tests/
        run: poetry run ansible-playbook -i inventories/do test.yml

      - name: Create a release
        uses: softprops/action-gh-release@v0.1.14
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete terraform resources
        working-directory: tests/terraform/
        if: ${{ always() }}
        run: terraform destroy -auto-approve

      - name: Delete secrets
        if: ${{ always() }}
        run: |
          rm -rf tests/terraform/.do-token.txt
          rm -rf ~/.ssh/id_ed25519
